@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

/* For mobile phones: */
  .banner {
		text-align: center;
	}

	
	.section2 {
		text-align: center;
	}

	.box img {
		width: 40px;
	}

@media only screen and (min-width: 768px) {
  /* For desktop: */

	  .banner {
		text-align: center;
	}

	
	.section2 {
		text-align: center;
	}

	.box {
		float: left;
 		width: 25%;
	}

	.box img {
		width: 100px;
	}


}
