

@media only screen and (max-width: 800px) {
  html,body {
    margin: 0px;
    padding: 0px;
   
  }

  .banner:{
  	top: 0px;
  	margin: 0px;
  }
/* For mobile phones: */

	.nav{
		position: absolute;
		padding: 0px;
		top:20px;
		width: 100%;
		height: 35px;
	}

	.nav ul{
		list-style-type: none;
  	margin: 0;
 	 padding: 0px;
 	 width: 100%;
 	 text-align: center;
 	 }

 	 .nav li {
 	 	display: inline;
 	 	font-size: 20px;
 	 }
	.nav li a{
  color: white;
  padding: 6px 14px;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 25px;
	}

	.nav li a:hover {
  background-color: #555;
  color: white;

}



	/* Banner  */
  .banner {
  	margin-top: 0px;
		text-align: center;
		background:transparent url(../images/banner.jpg) no-repeat center center;
		color: white;	
	}

	.banner h1{
		position: relative;
		display: inline;
		top: 40px;
		margin-top: 0px;
		font-size: 50px;
	}

	.banner h2{
		position: relative;
		top: 45px;
		padding-bottom: 50px;
		font-size: 20px;
		font-weight	: normal;
	}
	

	/* YouTube */
	.video-container{
		
		overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

	}

	.video-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

	/* Section 2  */
	.section2 {
		text-align: center;
	}

	.box {
		height: 300px;
		padding:  20px;
		padding-top: 20px;
		padding-bottom: 20px;
		color: white;
	}

	.box img {
		width: 40px;
	}

	/* Section 3 */

	.section3{
		display: inline-block;
		background-color: black;
		color: white;
		padding-top: 20px;
		width: 100%;

	}

	.section3 h2{
		color: black;
	}

	.section3 h1{
		margin: 20px;
		font-size: 40px;
		text-align: center;
	}

	.section3 ul{
		padding-left: 15%;
		padding-right: 15%;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.section3 li{
		font-size: 18px;
		line-height: 60px;
		font-weight: normal;
	}


	/* Section 4  */

	.section4 h1 {
		text-align: center;
		font-size: 40px;
	}


	.contact-us h1 {
		text-align: center;
		font-size: 40px;
	}

	.contact-us{
		width: 80%;
		margin: 0 auto; 
	}

	.contact-us iframe{
		height: 500px;
    width:100%;	
	}


	.Approach_p {
		display: inline-block;

		padding-left: 7%;
		padding-right: 7%;
		font-size: 18px;
		height: 25px;
	}

	footer{
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 2%;
	padding-left: 2%;
	font-size: 10px;
	text-align: center;
	}
}

@media only screen and (min-width: 800px) {


  /* For desktop: */

  	body{
  		margin-top: 0px;
  		margin: 0px;
  		padding: 0px;
  		font-family: sans-serif;
  	}

  	.banner-title{
  		animation: backInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  	}

  	.nav-space{
  		background-color: black;
  	}

	.nav{
		
		
		padding: 3px;
		width: 100%;
		height: 35px;
	}

	.nav ul{
		list-style-type: none;
  	margin: 0px;
 	 padding: 0px;
 	 width: 100%;
 	 text-align: center;
 	 	}

 	 .nav li {
 	 	display: inline;
 	 	font-size: 25px;
 	 	padding:0px 155px ;
 	 }
	.nav li a{
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 30px;
	}

	.nav li a:hover {
  background-color: #555;
  color: white;

}




  	/* Banner-org */
  	.banner_org img{
  		
  	}

  	.banner_org{
  		background-image: url(images/banner_org.jpg);
  		color: white;
  	}	
  	/* Banner  */
	  .banner {
		text-align: center;
		background-image:url(../images/banner_org.jpg);
		color: white;

	}

	
	.banner h1{
		margin-top: 0px;
		padding: 5px;
		padding-top: 60px;
		font-size: 50px;
		z-index: 1;
	}

	.banner h2{
		padding-bottom: 50px;
		font-size: 30px;
		font-weight	: normal;
	}

	.video-title{
		text-align: center;
	}

	.video-container {
    position: relative;
    padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
    /* padding-bottom: 62.5%; - 16:10 aspect ratio */
    /* padding-bottom: 75%; - 4:3 aspect ratio */
    padding-top: 30px;
    height: auto;
    overflow: hidden;
    width: 80%;
		margin: 0 auto; 

}

.video-container iframe,
.video-container object,
.video-container embed {
    border: 0;
    position: absolute;
    padding: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    margin: 0px;
}

.video-container p{
	display: block;
	top: 650px;
	text-align: center;
}
	/* Section 2  */
	.section2 {
		text-align: center;

	}

	.box {
		float: left;
 		width: 25%;
 		color: white;
 		padding-top: 50px;
 		height: 800px;
	}

	.box img {
		width: 100px;
		padding-top: 10%;
	
	}


	.box h1{
		padding-top: 10%;
	}

	.box p {
		padding-top: 10%;
		text-align: center;
		padding: 20%;
		font-size: 25px;
	}

	/* Section 3 */

	.section3{
		display: inline-block;
		background-color: black;
		color: white;
		padding-top: 20px;
		width: 100%;


	}

	.section3 h2{
		color: black;
	}

	.section3 h1{
		margin: 20px;
		font-size: 40px;
		text-align: center;
	}

	.section3 ul{
		padding-left: 35%;
		padding-right: 35%;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.section3 li{
		font-size: 22px;
		line-height: 50px;
		font-weight: normal;
	}


	/* Section 4  */

	.section4{
		
	}
	.section4 h1 {
		text-align: center;
		font-size: 40px;
	}



	.contact-us h1 {
		text-align: center;
		font-size: 40px;
	}

	.contact-us{
		width: 30%;
		margin: 0 auto; 
	}

	.Approach_p {
		display: inline-block;
		padding-left: 30%;
		padding-right: 30%;
		font-size: 23px;
		height: 25px;
	}

footer{
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 27%;
	padding-left: 27%;
}
	
}
